.extended-search-page-form .tabledrag-toggle-weight-wrapper,
.extended-search-page-form .extended-search-filter-input-hidden {
  display: none;
}
.extended-search-page-form table.tabledrag-processed tbody>:first-child .extended-search-filter-operator  {
  visibility: hidden;
}
.extended-search-page-form table {
  border-collapse:collapse !important;
}
.extended-search-page-form table,th, td {
  border: 1px solid #DDDDDD !important;
}

.extended-search-page-form th.extended-search-filter-operator-header {
  width: 20%;
}
.extended-search-page-form th.extended-search-filter-value-header {
  width: 65%;
}
.extended-search-page-form th.extended-search-filter-weight-header {
  display: none;
  width: 0px;
}
.extended-search-page-form th.extended-search-filter-remove-header {
  width: 15%;
}

.extended-search-page-form td.extended-search-filter-operator-cell {
  width: 20%;
}
.extended-search-page-form td.extended-search-filter-value-cell {
  width: 65%;
}
.extended-search-page-form td.extended-search-filter-weight-cell {
  display: none;
  width: 0px;
}
.extended-search-page-form td.extended-search-filter-remove-cell {
  width: 15%;
  text-align: center;
}

.extended-search-page-form .extended-search-filter-input:first-child  .form-type-date {
  border: 1px solid #DDDDDD !important;
  padding: 3px 8px;
}

.extended-search-page-form .extended-search-explanation {
  font-size: 0.8em;
  font-style: italic;
  margin: 0px 0px 8px 0px;
}

.extended-search-page-form .extended-search-query {
  font-size: 0.9em;
  margin:3px 0px 8px 0px;
}

.extended-search-page-form .extended-search-query-label {
  font-weight: bold;
  margin-bottom: 2px;
}

.extended-search-page-form .extended-search-query-query {
  /*border: 1px solid #DDDDDD !important;*/
  padding: 3px 5px;
  color: #555555;
  white-space: pre-wrap;
}

.extended-search-page-form legend{
  text-transform: uppercase;
  font-size: 10px;
  color: #999999 !important;
  font-weight: bold;
  
}
.extended-search-page-form fieldset{
  margin-bottom: 15px !important;
}
