#block-extended-search-extended-search-query .extended-search-query {
  font-size: 0.9em;
  margin:3px 0px 8px 0px;
}

#block-extended-search-extended-search-query .extended-search-query-label {
  font-weight: bold;
  margin-bottom: 2px;
}

#block-extended-search-extended-search-query .extended-search-query-query {
  padding: 3px 5px;
  color: #555555;
  white-space: pre-wrap;
}

#block-extended-search-extended-search-query .extended-search-link {
  color: #18B;
  font-size: 1.0em;
  float: right;
  text-decoration: none;
}

  
#block-extended-search-extended-search-query .block-content {
  padding: 5px 10px 0px 10px;
}

.region-content #block-extended-search-extended-search-query {
  background-color: #FFFFFF;
  border: 1px solid #DDDDDD;
}

#block-extended-search-extended-search-query .block-title {
  background: #F4F4F4;
  padding: 0px 10px;
}
